{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block base %}
  <div class="container">
    제목:<h1>{{review.title}}</h1>
    내용:<p>{{review.content}}</p>
    사진
    {% if review.image %}
      <img src="{{ review.image.url }}" alt="">
      <img src="{{ review.thumbnail.url }}" alt="">

    {% else %}
    {% endif %}

    <form action="{% url 'reviews:comments_create' review.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <button type="submit" class="btn btn-dark">제출</button>
    </form>

    {% for comment in comments %}
      <div>
        <p>{{ comment.user.username }}|{{ comment.content }}</p>
        <p>{{ comment.created_at }}
          {% if comment.user == request.user %}
            <a href="{% url 'reviews:comments_delete' review.pk comment.pk %}">삭제</a>
          {% endif %}
        </p>
      </div>

    {% endfor %}
  </div>

{% endblock %}
