{% extends 'base.html' %}

{% block base %}
  <div class="container" style="width: 600px">
    <div class="my-5">
      <h1 class="my-5 text-center">{{ user.username }}님의 프로필</h1>
      <hr>
      <div class="d-flex">
        <p class="mb-0" style="width:50%;">이메일</p>
        <p class="mb-0" style="width:50%;">{{ user.email }}</p>
      </div>
      <hr>
      <div class="d-flex">
        <p class="mb-0" style="width:50%;">가입 시각</p>
        <p class="mb-0" style="width:50%;">{{ user.date_joined }}</p>
      </div>
      <hr>
      <div class="d-flex">
        <p class="mb-0" style="width:50%;">팔로잉</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <p id="followings-count" class="mb-0" style="width:50%;">{{ person.followings.all.count }}</p>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">following list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                {% if not person.followings.all.count %}
                  <p>팔로잉이 없습니다</p>
                {% else %}
                  {% for i in person.followings.all.all %}
                    <a href="{% url 'accounts:detail' i.pk %}">{{i}}</a><br>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="d-flex">
        <p class="mb-0" style="width:50%;">팔로워</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          <p id="followers-count" class="mb-0" style="width:50%;">{{ person.followers.all.count }}</p>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">followers list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                {% if not person.followers.all.count %}
                  <p>팔로워가 없습니다.</p>
                {% else %}
                  {% for i in person.followers.all %}
                    <a href="{% url 'accounts:detail' i.pk %}">
                      {{i}}
                    </a><br>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      {% if request.user.is_authenticated %}
        <div>
          {% if user != person.username %}
            {% if user.pk == request.user.pk %}
            {% else %}
              <form id="follow-form" data-follow-id="{{user.pk}}">
                {% csrf_token %}
                {% if request.user in person.followers.all %}
                  <input id="follow-id" class="btn" type="submit" style="color: #f77" value='팔로우 취소'>
                {% else %}
                  <input id="follow-id" class="btn" type="submit" style="color: #35C5F0" value='팔로우'>
                {% endif %}
              </form>
            {% endif %}
          {% endif %}
        </div>
      {% else %}
        <a href="{% url 'accounts:login'%}" class="btn btn-outline-primary mt-3 me-3">
          로그인
        </a>
      {% endif %}
      {% if request.user == user %}
        <div class="d-flex justify-content-end">
          <a href="{% url 'accounts:update' %}" class="btn btn-primary mt-3 me-3">회원정보수정</a>
          <a href="{% url 'accounts:delete' %}" class="btn btn-danger mt-3">회원탈퇴</a>
        </div>
      {% endif %}
    </div>
  </div>
  <h1 class="text-center my-5 ">{{ user.username }}이 쓰신 글의 개수:
    {{reviews.count}}개</h1>
  {% if reviews %}
    <div class='container'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>글 번호</th>
            <th scope='col'>제목</th>
            <th scope='col'>내용</th>
            <th scope='col'>작성일</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
            <tr>
              <th scope='row'>{{ review.id }}</th>
              <td>
                <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
              </td>
              <td>{{ review.content }}</td>
              <td>{{ review.created_at|date:'m월 d일' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  <h1 class="text-center my-5 ">{{ user.username }}이 쓰신 댓글의 개수:
    {{comments.count}}개</h1>
  {% if comments %}
    <div class='container'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>댓글 내용</th>
            <th scope='col'>작성자</th>
            <th scope='col'>작성일</th>
            <th scope='col'>수정일</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in comments %}
            <tr>
              <th scope='row'>
                <a href="{% url 'reviews:detail' comment.article_id %}">{{ comment.content }}</a>
              </th>
              <td>{{ comment.user }}</td>
              <td>{{ comment.created_at|date:'m월 d일' }}</td>
              <td>{{ comment.updated_at|date:'m월 d일' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      followForm.addEventListener('submit', function (event) {event.preventDefault()
        const followId = event.target.dataset.followId
          console.log(event.target.dataset)
        axios({
          method: 'POST',
          url: `/accounts/${followId}/follow/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(followForm)
        })
          .then((response) => {
            const isfollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-id')
            console.log(response)
            if (response.data.is_followed === true) {
              followBtn.value = '팔로우 취소'
            } else {
              followBtn.value = '팔로우'
            }
            const followersCountTag = document.querySelector('#followers-count')
            const followingsCountTag = document.querySelector('#followings-count')
            const followersCount = response.data.followers_count
            const followingsCount = response.data.followings_count

            followersCountTag.innerText = followersCount
            followingsCountTag.innerText = followingsCount
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
  </script>
  {% endblock%}
